<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucia.applicazionelab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/immagine3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainETab.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registrazione.Page2reg"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Passworddim.PagePassDim"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainETab.Loginpage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainETab.LibriActivity"
            android:label="BiblApp"
            android:theme="@style/ActivityBarra" />
        <activity
            android:name=".MainETab.CercaActivity"
            android:label="BiblApp"
            android:theme="@style/ActivityBarra" />
        <activity
            android:name=".MainETab.DonaActivity"
            android:label="BiblApp"
            android:theme="@style/ActivityBarra" />
        <activity
            android:name=".MainETab.Dona2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainETab.Prenota"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Registrazione.RegSuccess"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainETab.SpecLibro"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainETab.AddLibro" />
        <activity android:name=".MainETab.AddLibroSuccess" />
        <activity android:name=".MainETab.DettagliMioLibro"></activity>
    </application>

</manifest>